{
    "openapi": "3.0.0",
    "info": {
        "title": "Kinofan API",
        "description": "API для проекта Кинофан",
        "contact": {
            "name": "Nasirov Ismail",
            "email": "isik94@iсloud.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://kinofan.api/v1",
            "description": "API server"
        }
    ],
    "paths": {
        "/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Регистрация нового пользователя",
                "description": "Данный эндпоинт создаeт нового пользователя с ролью user",
                "operationId": "addUser",
                "requestBody": {
                    "description": "Данные для регистрации пользователя",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SignupForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Авторизация пользователя",
                "description": "Данный эндпоинт выдает accessToken и refreshToken",
                "operationId": "authUser",
                "requestBody": {
                    "description": "Данные для авторизации пользователя",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID пользователя",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "username": {
                                                            "description": "Никнейм пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "email": {
                                                            "description": "Электронная почта пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "status": {
                                                            "description": "Статус пользователя",
                                                            "type": "integer",
                                                            "enum": [
                                                                "0",
                                                                "9",
                                                                "10"
                                                            ],
                                                            "example": "10"
                                                        },
                                                        "statusText": {
                                                            "description": "Статус пользователя",
                                                            "type": "string",
                                                            "enum": [
                                                                "Удален",
                                                                "Не активен",
                                                                "Активен"
                                                            ],
                                                            "example": "Активен"
                                                        },
                                                        "created_at": {
                                                            "description": "Время в unixtime",
                                                            "type": "integer",
                                                            "example": "1687464863"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TokenResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Получить новый временный accessToken",
                "description": "Данный эндпоинт выдает refreshToken и новый временный accessToken",
                "operationId": "refresh",
                "requestBody": {
                    "description": "Данные для получения accessToken",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refreshToken": {
                                        "type": "string",
                                        "example": "1seSXoHn2a1mvq-oQh_xPaquZ1dtTJGmkKgbKAo8bftxk7vGSrf-g9Hi0HytY-qpnXmaYGM6v6rQDzxrvUzcUxnP4Hntux8EXkWMTD9IfafIxE3zNLLJ9Vi0jzGHs7DOH5p2k6UK_wJq-y1SRgpgJuXLTSUi6SpZSNtg5iyFjfcDA6h8vLE7lgQSas4Nga0vKelmfGTo"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cinema": {
            "get": {
                "tags": [
                    "Cinema"
                ],
                "summary": "Получить список кино",
                "description": "Данный эндпоинт возвращает список кино",
                "operationId": "getListCinema",
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cinema/id": {
            "get": {
                "tags": [
                    "Cinema"
                ],
                "summary": "Получить данные кино",
                "description": "Данный эндпоинт возвращает данные кино",
                "operationId": "getCinema",
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/logout": {
            "delete": {
                "tags": [
                    "User"
                ],
                "summary": "Разлогинить пользователя и удалить refreshToken",
                "description": "Данный эндпоинт удаляет refreshToken для пользователя, который вышел из системы",
                "operationId": "logout",
                "requestBody": {
                    "description": "refreshToken пользователя, которого нужно разлогинить и удалить отправленный токен",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refreshToken": {
                                        "type": "string",
                                        "example": "UjOPobe6bv_iBGMrrqyPEhv3ebZbamp78JBneh8CyvL0-mPTUpWinsys0OK8yeM6-TEB9hx8QHOaITJfrscLtmmGDo0qexMxyQMoA940LJJDwswqLGvnlzujim4K6wGxOey9uvlwoxyB9MMcROrR5p3gnmAPzFiTda7GQSEQXwlGb5DfkAG110G6-s_8_AZ-PgemnHt0"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "error": {
                                                    "description": "Булево обозначение ошибки",
                                                    "type": "boolean",
                                                    "example": "false"
                                                },
                                                "message": {
                                                    "description": "Текст сообщения ошибки на стороне сервера",
                                                    "type": "string",
                                                    "example": "Deleted successfully"
                                                },
                                                "status": {
                                                    "description": "Код ошибки",
                                                    "type": "integer",
                                                    "example": "200"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Пустой или неправильный токен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Запрещено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "accessToken": []
                    }
                ]
            }
        }
    },
    "components": {
        "schemas": {
            "Unauthorized": {
                "properties": {
                    "name": {
                        "description": "Название сообщения",
                        "type": "string",
                        "example": "Unauthorized"
                    },
                    "message": {
                        "description": "Текст сообщения",
                        "type": "string",
                        "example": "Your request was made with invalid credentials."
                    },
                    "code": {
                        "description": "Код сообщения",
                        "type": "integer",
                        "example": "0"
                    },
                    "status": {
                        "description": "Код ошибки",
                        "type": "integer",
                        "example": "401"
                    },
                    "type": {
                        "description": "Тип ошибки",
                        "type": "string",
                        "example": "yii\\web\\UnauthorizedHttpException"
                    }
                },
                "type": "object"
            },
            "Forbidden": {
                "properties": {
                    "error": {
                        "description": "Булево обозначение ошибки",
                        "type": "boolean",
                        "example": "true"
                    },
                    "message": {
                        "description": "Текст сообщения о запрете",
                        "type": "string",
                        "example": "Access is denied"
                    },
                    "status": {
                        "description": "Код ошибки",
                        "type": "integer",
                        "example": "403"
                    }
                },
                "type": "object"
            },
            "NotFound": {
                "properties": {
                    "error": {
                        "description": "Булево обозначение ошибки",
                        "type": "boolean",
                        "example": "true"
                    },
                    "message": {
                        "description": "Текст сообщения о не найденой записи",
                        "type": "string",
                        "example": "Not found"
                    },
                    "status": {
                        "description": "Код ошибки",
                        "type": "integer",
                        "example": "404"
                    }
                },
                "type": "object"
            },
            "ValidateForm": {
                "properties": {
                    "error": {
                        "description": "Булево обозначение ошибки",
                        "type": "boolean",
                        "example": "true"
                    },
                    "message": {
                        "properties": {
                            "attribute": {
                                "type": "array",
                                "items": {
                                    "anyOf": [
                                        {
                                            "description": "Сообщение ошибки валидируемого атрибута",
                                            "type": "string",
                                            "example": "Значение «Атрибут» не является правильным."
                                        }
                                    ]
                                }
                            }
                        },
                        "type": "object"
                    },
                    "status": {
                        "description": "Код ошибки",
                        "type": "integer",
                        "example": "406"
                    }
                },
                "type": "object"
            },
            "ServerError": {
                "properties": {
                    "error": {
                        "description": "Булево обозначение ошибки",
                        "type": "boolean",
                        "example": "true"
                    },
                    "message": {
                        "description": "Текст сообщения ошибки на стороне сервера",
                        "type": "string",
                        "example": "An unexpected error occured."
                    },
                    "status": {
                        "description": "Код ошибки",
                        "type": "integer",
                        "example": "500"
                    }
                },
                "type": "object"
            },
            "TokenResponse": {
                "properties": {
                    "accessToken": {
                        "description": "Временный access token",
                        "type": "string",
                        "example": "UjOPobe6bv_iBGMrrqyPEhv3ebZbamp78JBneh8CyvL0-mPTUpWinsys0OK8yeM6-TEB9hx8QHOaITJfrscLtmmGDo0qexMxyQMoA940LJJDwswqLGvnlzujim4K6wGxOey9uvlwoxyB9MMcROrR5p3gnmAPzFiTda7GQSEQXwlGb5DfkAG110G6-s_8_AZ-PgemnHt0"
                    },
                    "refreshToken": {
                        "description": "Постоянный refresh token",
                        "type": "string",
                        "example": "UjOPobe6bv_iBGMrrqyPEhv3ebZbamp78JBneh8CyvL0-mPTUpWinsys0OK8yeM6-TEB9hx8QHOaITJfrscLtmmGDo0qexMxyQMoA940LJJDwswqLGvnlzujim4K6wGxOey9uvlwoxyB9MMcROrR5p3gnmAPzFiTda7GQSEQXwlGb5DfkAG110G6-s_8_AZ-PgemnHt0"
                    }
                },
                "type": "object"
            },
            "LoginForm": {
                "required": [
                    "username",
                    "password"
                ],
                "properties": {
                    "username": {
                        "description": "Электронная почта пользователя",
                        "type": "string",
                        "example": "isik@yandex.ru"
                    },
                    "password": {
                        "description": "Пароль",
                        "type": "string",
                        "example": "qwerty"
                    }
                },
                "type": "object"
            },
            "User": {
                "type": "object",
                "allOf": [
                    {
                        "properties": {
                            "id": {
                                "description": "ID пользователя",
                                "type": "integer",
                                "example": "1"
                            },
                            "username": {
                                "description": "Никнейм пользователя",
                                "type": "email",
                                "example": "qwe@gmail.com"
                            },
                            "email": {
                                "description": "Электронная почта пользователя",
                                "type": "email",
                                "example": "qwe@gmail.com"
                            },
                            "status": {
                                "description": "Статус пользователя",
                                "type": "integer",
                                "enum": [
                                    "0",
                                    "9",
                                    "10"
                                ],
                                "example": "10"
                            },
                            "statusText": {
                                "description": "Статус пользователя",
                                "type": "string",
                                "enum": [
                                    "Удален",
                                    "Не активен",
                                    "Активен"
                                ],
                                "example": "Активен"
                            },
                            "created_at": {
                                "description": "Время в unixtime",
                                "type": "integer",
                                "example": "1687464863"
                            }
                        },
                        "type": "object"
                    },
                    {
                        "$ref": "#/components/schemas/UserRoles"
                    }
                ]
            },
            "SignupForm": {
                "required": [
                    "username",
                    "password"
                ],
                "properties": {
                    "username": {
                        "description": "Электронная почта пользователя",
                        "type": "string",
                        "example": "isik@yandex.ru"
                    },
                    "password": {
                        "description": "Пароль",
                        "type": "string",
                        "example": "qwerty"
                    }
                },
                "type": "object"
            },
            "UserRoles": {
                "properties": {
                    "userRoles": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "role": {
                                    "description": "Ключ роли пользователя",
                                    "type": "string",
                                    "example": "admin"
                                },
                                "roleTranslate": {
                                    "description": "Перевод роли на русский язык",
                                    "type": "string",
                                    "example": "Администратор"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Auth",
            "description": "Методы для авторизации/регистрации"
        },
        {
            "name": "Cinema",
            "description": "Методы для кино"
        },
        {
            "name": "User",
            "description": "Методы для работы с пользователями"
        }
    ]
}