{
    "openapi": "3.0.0",
    "info": {
        "title": "Kinofan API",
        "description": "API для проекта Кинофан",
        "contact": {
            "name": "Nasirov Ismail",
            "email": "isik94@iсloud.com"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "http://kinofan.api/v1",
            "description": "API server"
        }
    ],
    "paths": {
        "/account/get-code": {
            "post": {
                "tags": [
                    "Account"
                ],
                "summary": "Получения кода на электронную почту для подтверждения действий пользователя",
                "description": "Данный эндпоинт отправляет на электронную почту уникальный сгенерированный код для подтверждения пользователя",
                "operationId": "getCode",
                "requestBody": {
                    "description": "Электронная почта на который будет выслан уникальный код",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendCodeForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/account/reset-password": {
            "put": {
                "tags": [
                    "Account"
                ],
                "summary": "Восстановление пароля",
                "description": "Данный эндпоинт восстанавливает пароль пользователя по уникальному коду отправленную на электронную почту, все сессии данного пользователя будут аннулированы на всех устройствах",
                "operationId": "resetPassword",
                "requestBody": {
                    "description": "Данные для восстановления пароля",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdatePasswordForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID пользователя",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "username": {
                                                            "description": "Никнейм пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "email": {
                                                            "description": "Электронная почта пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "status": {
                                                            "description": "Статус пользователя",
                                                            "type": "integer",
                                                            "enum": [
                                                                "0",
                                                                "9",
                                                                "10"
                                                            ],
                                                            "example": "10"
                                                        },
                                                        "statusText": {
                                                            "description": "Статус пользователя",
                                                            "type": "string",
                                                            "enum": [
                                                                "Удален",
                                                                "Не активен",
                                                                "Активен"
                                                            ],
                                                            "example": "Активен"
                                                        },
                                                        "created_at": {
                                                            "description": "Время в unixtime",
                                                            "type": "integer",
                                                            "example": "1687464863"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TokenResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/register": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Регистрация нового пользователя",
                "description": "Данный эндпоинт создаeт нового пользователя с ролью user",
                "operationId": "addUser",
                "requestBody": {
                    "description": "Данные для регистрации пользователя",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SignupForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Авторизация пользователя",
                "description": "Данный эндпоинт выдает accessToken и refreshToken",
                "operationId": "authUser",
                "requestBody": {
                    "description": "Данные для авторизации пользователя",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID пользователя",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "username": {
                                                            "description": "Никнейм пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "email": {
                                                            "description": "Электронная почта пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "status": {
                                                            "description": "Статус пользователя",
                                                            "type": "integer",
                                                            "enum": [
                                                                "0",
                                                                "9",
                                                                "10"
                                                            ],
                                                            "example": "10"
                                                        },
                                                        "statusText": {
                                                            "description": "Статус пользователя",
                                                            "type": "string",
                                                            "enum": [
                                                                "Удален",
                                                                "Не активен",
                                                                "Активен"
                                                            ],
                                                            "example": "Активен"
                                                        },
                                                        "created_at": {
                                                            "description": "Время в unixtime",
                                                            "type": "integer",
                                                            "example": "1687464863"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "$ref": "#/components/schemas/TokenResponse"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/auth/refresh": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Получить новый временный accessToken",
                "description": "Данный эндпоинт выдает refreshToken и новый временный accessToken",
                "operationId": "refresh",
                "requestBody": {
                    "description": "Данные для получения accessToken",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "refreshToken": {
                                        "type": "string",
                                        "example": "1seSXoHn2a1mvq-oQh_xPaquZ1dtTJGmkKgbKAo8bftxk7vGSrf-g9Hi0HytY-qpnXmaYGM6v6rQDzxrvUzcUxnP4Hntux8EXkWMTD9IfafIxE3zNLLJ9Vi0jzGHs7DOH5p2k6UK_wJq-y1SRgpgJuXLTSUi6SpZSNtg5iyFjfcDA6h8vLE7lgQSas4Nga0vKelmfGTo"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TokenResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cinema": {
            "get": {
                "tags": [
                    "Cinema"
                ],
                "summary": "Получить список кино",
                "description": "Данный эндпоинт возвращает список кино",
                "operationId": "getListCinema",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы для пагинации",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество запрашиваемых данных",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Название атрибута по которому нужна сортировка пример: id или -id",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "-id"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Год кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Тип кино",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "movie",
                            "enum": [
                                "movie",
                                "series",
                                "cartoon",
                                "anime",
                                "tv_show"
                            ]
                        }
                    },
                    {
                        "name": "genre_id",
                        "in": "query",
                        "description": "ID жанра",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "country_id",
                        "in": "query",
                        "description": "ID страны",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cinema"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cinema/{id}": {
            "get": {
                "tags": [
                    "Cinema"
                ],
                "summary": "Получить данные кино",
                "description": "Данный эндпоинт возвращает данные кино",
                "operationId": "getCinema",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID кино",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cinema"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cinema-watched": {
            "get": {
                "tags": [
                    "CinemaWatched"
                ],
                "summary": "Получить список просмотренных кино пользователя",
                "description": "Данный эндпоинт возвращает список кино которые просмотрел пользователь",
                "operationId": "getListCinemaWatched",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы для пагинации",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество запрашиваемых данных",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Название атрибута по которому нужна сортировка пример: id или -id",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "-id"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID просмотра",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID пользователя",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cinema_id",
                        "in": "query",
                        "description": "ID кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID пользователя",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "username": {
                                                            "description": "Никнейм пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "email": {
                                                            "description": "Электронная почта пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "status": {
                                                            "description": "Статус пользователя",
                                                            "type": "integer",
                                                            "enum": [
                                                                "0",
                                                                "9",
                                                                "10"
                                                            ],
                                                            "example": "10"
                                                        },
                                                        "statusText": {
                                                            "description": "Статус пользователя",
                                                            "type": "string",
                                                            "enum": [
                                                                "Удален",
                                                                "Не активен",
                                                                "Активен"
                                                            ],
                                                            "example": "Активен"
                                                        },
                                                        "created_at": {
                                                            "description": "Время в unixtime",
                                                            "type": "integer",
                                                            "example": "1687464863"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "cinema": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID кино",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "id_kp": {
                                                            "description": "ID кинопоиска",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "name_ru": {
                                                            "description": "Название кино на русском",
                                                            "type": "string",
                                                            "example": "Матрица"
                                                        },
                                                        "name_original": {
                                                            "description": "Оригинальное название",
                                                            "type": "string",
                                                            "example": "Matrix"
                                                        },
                                                        "poster_url": {
                                                            "description": "Ссылка на постер",
                                                            "type": "string",
                                                            "example": "https://kinofan.api/v1/file/rSST2uTsf53EZeMSYtDieghZ41yPLlfceiFKOqJQrMsar578Tjfh1xh2-vZxOAVs6u04P-I1hb8h5r35yHzrC5ouVBgPsVsHZrkYi-IOh7NGemYq3SKO6k_nD-B4Q1AgX5FkzdqU8QWpjKPfgjU0fw8s7EH0LTFxLW0GmheaIJHL4Aq9sruBW6zd1f0Q6nNE0s7da7TDzNJmSzlEebuY-d32SNrjbVEt6fHqXvlIGpVmNxhtQrvYJkqB5V7hiXC"
                                                        },
                                                        "poster_url_preview": {
                                                            "description": "Ссылка на превью",
                                                            "type": "string",
                                                            "example": "https://kinofan.api/v1/file/rSST2uTsf53EZeMSYtDieghZ41yPLlfceiFKOqJQrMsar578Tjfh1xh2-vZxOAVs6u04P-I1hb8h5r35yHzrC5ouVBgPsVsHZrkYi-IOh7NGemYq3SKO6k_nD-B4Q1AgX5FkzdqU8QWpjKPfgjU0fw8s7EH0LTFxLW0GmheaIJHL4Aq9sruBW6zd1f0Q6nNE0s7da7TDzNJmSzlEebuY-d32SNrjbVEt6fHqXvlIGpVmNxhtQrvYJkqB5V7hiXC"
                                                        },
                                                        "rating_kinopoisk": {
                                                            "description": "Рейтинг кино на кинопоиске",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": "8.2"
                                                        },
                                                        "year": {
                                                            "description": "Год",
                                                            "type": "integer",
                                                            "example": "2023"
                                                        },
                                                        "film_length": {
                                                            "description": "Продолжительность",
                                                            "type": "integer",
                                                            "example": "120"
                                                        },
                                                        "slogan": {
                                                            "description": "Слоган",
                                                            "type": "string",
                                                            "example": "Добро пожаловать в реальный мир"
                                                        },
                                                        "description": {
                                                            "description": "Описание",
                                                            "type": "string",
                                                            "example": "Жизнь Томаса Андерсона разделена на две части: днём он-самый обычный офисный работник, получающий нагоняи от начальства, а ночью превращается в хакера по имени Нео, и нет места в сети, куда он бы не смог проникнуть. Но однажды всё меняется. Томас узнаёт ужасающую правду о реальности."
                                                        },
                                                        "type": {
                                                            "description": "Тип",
                                                            "type": "string",
                                                            "enum": [
                                                                "movie",
                                                                "series",
                                                                "cartoon",
                                                                "anime",
                                                                "tv_show"
                                                            ],
                                                            "example": "movie"
                                                        },
                                                        "rating_mpaa": {
                                                            "description": "Рейтинг MPAA",
                                                            "type": "string",
                                                            "example": "r"
                                                        },
                                                        "rating_age_limits": {
                                                            "description": "Возрастной лимит",
                                                            "type": "string",
                                                            "example": "age16"
                                                        },
                                                        "start_year": {
                                                            "description": "Старт",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "end_year": {
                                                            "description": "Конец",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "serial": {
                                                            "description": "Сериал",
                                                            "type": "integer",
                                                            "example": "0"
                                                        },
                                                        "completed": {
                                                            "description": "Окончен или нет (для сериалов)",
                                                            "type": "integer",
                                                            "example": "0"
                                                        },
                                                        "created_at": {
                                                            "description": "Время создания",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "premiere_ru": {
                                                            "description": "Время премьеры в РФ",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "release_date": {
                                                            "description": "Время цифрового релиза",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "rating_imdb": {
                                                            "description": "Рейтинг IMDB",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": "8.2"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "CinemaWatched"
                ],
                "summary": "Создать запись о просмотре кино пользователем",
                "description": "Данный эндпоинт создает записи о просмотре пользователем фильмов",
                "operationId": "createCinemaWatched",
                "requestBody": {
                    "description": "Данные для сохранения записей о просмотре фильмов",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CinemaWatchedForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SuccessResponse"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/comment": {
            "get": {
                "tags": [
                    "Comment"
                ],
                "summary": "Получить список комментариев (отзывов) о фильме",
                "description": "Данный эндпоинт возвращает список комментариев с ответами к нему о фильме",
                "operationId": "getListComment",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы для пагинации",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество запрашиваемых данных",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Название атрибута по которому нужна сортировка пример: id или -id",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "-id"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID просмотра",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cinema_id",
                        "in": "query",
                        "description": "ID кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/favorites": {
            "get": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Получить список избранных для пользователя",
                "description": "Данный эндпоинт возвращает список избранных кино для пользователя",
                "operationId": "getListFavorites",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы для пагинации",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество запрашиваемых данных",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Название атрибута по которому нужна сортировка пример: id или -id",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "-id"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID просмотра",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cinema_id",
                        "in": "query",
                        "description": "ID кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID пользователя",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "id": {
                                                    "description": "ID избранного",
                                                    "type": "integer",
                                                    "example": "1"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID пользователя",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "username": {
                                                            "description": "Никнейм пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "email": {
                                                            "description": "Электронная почта пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "status": {
                                                            "description": "Статус пользователя",
                                                            "type": "integer",
                                                            "enum": [
                                                                "0",
                                                                "9",
                                                                "10"
                                                            ],
                                                            "example": "10"
                                                        },
                                                        "statusText": {
                                                            "description": "Статус пользователя",
                                                            "type": "string",
                                                            "enum": [
                                                                "Удален",
                                                                "Не активен",
                                                                "Активен"
                                                            ],
                                                            "example": "Активен"
                                                        },
                                                        "created_at": {
                                                            "description": "Время в unixtime",
                                                            "type": "integer",
                                                            "example": "1687464863"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "cinema": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID кино",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "id_kp": {
                                                            "description": "ID кинопоиска",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "name_ru": {
                                                            "description": "Название кино на русском",
                                                            "type": "string",
                                                            "example": "Матрица"
                                                        },
                                                        "name_original": {
                                                            "description": "Оригинальное название",
                                                            "type": "string",
                                                            "example": "Matrix"
                                                        },
                                                        "poster_url": {
                                                            "description": "Ссылка на постер",
                                                            "type": "string",
                                                            "example": "https://kinofan.api/v1/file/rSST2uTsf53EZeMSYtDieghZ41yPLlfceiFKOqJQrMsar578Tjfh1xh2-vZxOAVs6u04P-I1hb8h5r35yHzrC5ouVBgPsVsHZrkYi-IOh7NGemYq3SKO6k_nD-B4Q1AgX5FkzdqU8QWpjKPfgjU0fw8s7EH0LTFxLW0GmheaIJHL4Aq9sruBW6zd1f0Q6nNE0s7da7TDzNJmSzlEebuY-d32SNrjbVEt6fHqXvlIGpVmNxhtQrvYJkqB5V7hiXC"
                                                        },
                                                        "poster_url_preview": {
                                                            "description": "Ссылка на превью",
                                                            "type": "string",
                                                            "example": "https://kinofan.api/v1/file/rSST2uTsf53EZeMSYtDieghZ41yPLlfceiFKOqJQrMsar578Tjfh1xh2-vZxOAVs6u04P-I1hb8h5r35yHzrC5ouVBgPsVsHZrkYi-IOh7NGemYq3SKO6k_nD-B4Q1AgX5FkzdqU8QWpjKPfgjU0fw8s7EH0LTFxLW0GmheaIJHL4Aq9sruBW6zd1f0Q6nNE0s7da7TDzNJmSzlEebuY-d32SNrjbVEt6fHqXvlIGpVmNxhtQrvYJkqB5V7hiXC"
                                                        },
                                                        "rating_kinopoisk": {
                                                            "description": "Рейтинг кино на кинопоиске",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": "8.2"
                                                        },
                                                        "year": {
                                                            "description": "Год",
                                                            "type": "integer",
                                                            "example": "2023"
                                                        },
                                                        "film_length": {
                                                            "description": "Продолжительность",
                                                            "type": "integer",
                                                            "example": "120"
                                                        },
                                                        "slogan": {
                                                            "description": "Слоган",
                                                            "type": "string",
                                                            "example": "Добро пожаловать в реальный мир"
                                                        },
                                                        "description": {
                                                            "description": "Описание",
                                                            "type": "string",
                                                            "example": "Жизнь Томаса Андерсона разделена на две части: днём он-самый обычный офисный работник, получающий нагоняи от начальства, а ночью превращается в хакера по имени Нео, и нет места в сети, куда он бы не смог проникнуть. Но однажды всё меняется. Томас узнаёт ужасающую правду о реальности."
                                                        },
                                                        "type": {
                                                            "description": "Тип",
                                                            "type": "string",
                                                            "enum": [
                                                                "movie",
                                                                "series",
                                                                "cartoon",
                                                                "anime",
                                                                "tv_show"
                                                            ],
                                                            "example": "movie"
                                                        },
                                                        "rating_mpaa": {
                                                            "description": "Рейтинг MPAA",
                                                            "type": "string",
                                                            "example": "r"
                                                        },
                                                        "rating_age_limits": {
                                                            "description": "Возрастной лимит",
                                                            "type": "string",
                                                            "example": "age16"
                                                        },
                                                        "start_year": {
                                                            "description": "Старт",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "end_year": {
                                                            "description": "Конец",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "serial": {
                                                            "description": "Сериал",
                                                            "type": "integer",
                                                            "example": "0"
                                                        },
                                                        "completed": {
                                                            "description": "Окончен или нет (для сериалов)",
                                                            "type": "integer",
                                                            "example": "0"
                                                        },
                                                        "created_at": {
                                                            "description": "Время создания",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "premiere_ru": {
                                                            "description": "Время премьеры в РФ",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "release_date": {
                                                            "description": "Время цифрового релиза",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "rating_imdb": {
                                                            "description": "Рейтинг IMDB",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": "8.2"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Добавить кино в избранное",
                "description": "Данный эндпоинт добавляет кино в избранное для текущего пользователя",
                "operationId": "addFavorites",
                "requestBody": {
                    "description": "Данные для добавления в избранное",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddFavoritesForm"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "properties": {
                                                "id": {
                                                    "description": "ID избранного",
                                                    "type": "integer",
                                                    "example": "1"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "user": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID пользователя",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "username": {
                                                            "description": "Никнейм пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "email": {
                                                            "description": "Электронная почта пользователя",
                                                            "type": "email",
                                                            "example": "qwe@gmail.com"
                                                        },
                                                        "status": {
                                                            "description": "Статус пользователя",
                                                            "type": "integer",
                                                            "enum": [
                                                                "0",
                                                                "9",
                                                                "10"
                                                            ],
                                                            "example": "10"
                                                        },
                                                        "statusText": {
                                                            "description": "Статус пользователя",
                                                            "type": "string",
                                                            "enum": [
                                                                "Удален",
                                                                "Не активен",
                                                                "Активен"
                                                            ],
                                                            "example": "Активен"
                                                        },
                                                        "created_at": {
                                                            "description": "Время в unixtime",
                                                            "type": "integer",
                                                            "example": "1687464863"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        {
                                            "properties": {
                                                "cinema": {
                                                    "properties": {
                                                        "id": {
                                                            "description": "ID кино",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "id_kp": {
                                                            "description": "ID кинопоиска",
                                                            "type": "integer",
                                                            "example": "1"
                                                        },
                                                        "name_ru": {
                                                            "description": "Название кино на русском",
                                                            "type": "string",
                                                            "example": "Матрица"
                                                        },
                                                        "name_original": {
                                                            "description": "Оригинальное название",
                                                            "type": "string",
                                                            "example": "Matrix"
                                                        },
                                                        "poster_url": {
                                                            "description": "Ссылка на постер",
                                                            "type": "string",
                                                            "example": "https://kinofan.api/v1/file/rSST2uTsf53EZeMSYtDieghZ41yPLlfceiFKOqJQrMsar578Tjfh1xh2-vZxOAVs6u04P-I1hb8h5r35yHzrC5ouVBgPsVsHZrkYi-IOh7NGemYq3SKO6k_nD-B4Q1AgX5FkzdqU8QWpjKPfgjU0fw8s7EH0LTFxLW0GmheaIJHL4Aq9sruBW6zd1f0Q6nNE0s7da7TDzNJmSzlEebuY-d32SNrjbVEt6fHqXvlIGpVmNxhtQrvYJkqB5V7hiXC"
                                                        },
                                                        "poster_url_preview": {
                                                            "description": "Ссылка на превью",
                                                            "type": "string",
                                                            "example": "https://kinofan.api/v1/file/rSST2uTsf53EZeMSYtDieghZ41yPLlfceiFKOqJQrMsar578Tjfh1xh2-vZxOAVs6u04P-I1hb8h5r35yHzrC5ouVBgPsVsHZrkYi-IOh7NGemYq3SKO6k_nD-B4Q1AgX5FkzdqU8QWpjKPfgjU0fw8s7EH0LTFxLW0GmheaIJHL4Aq9sruBW6zd1f0Q6nNE0s7da7TDzNJmSzlEebuY-d32SNrjbVEt6fHqXvlIGpVmNxhtQrvYJkqB5V7hiXC"
                                                        },
                                                        "rating_kinopoisk": {
                                                            "description": "Рейтинг кино на кинопоиске",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": "8.2"
                                                        },
                                                        "year": {
                                                            "description": "Год",
                                                            "type": "integer",
                                                            "example": "2023"
                                                        },
                                                        "film_length": {
                                                            "description": "Продолжительность",
                                                            "type": "integer",
                                                            "example": "120"
                                                        },
                                                        "slogan": {
                                                            "description": "Слоган",
                                                            "type": "string",
                                                            "example": "Добро пожаловать в реальный мир"
                                                        },
                                                        "description": {
                                                            "description": "Описание",
                                                            "type": "string",
                                                            "example": "Жизнь Томаса Андерсона разделена на две части: днём он-самый обычный офисный работник, получающий нагоняи от начальства, а ночью превращается в хакера по имени Нео, и нет места в сети, куда он бы не смог проникнуть. Но однажды всё меняется. Томас узнаёт ужасающую правду о реальности."
                                                        },
                                                        "type": {
                                                            "description": "Тип",
                                                            "type": "string",
                                                            "enum": [
                                                                "movie",
                                                                "series",
                                                                "cartoon",
                                                                "anime",
                                                                "tv_show"
                                                            ],
                                                            "example": "movie"
                                                        },
                                                        "rating_mpaa": {
                                                            "description": "Рейтинг MPAA",
                                                            "type": "string",
                                                            "example": "r"
                                                        },
                                                        "rating_age_limits": {
                                                            "description": "Возрастной лимит",
                                                            "type": "string",
                                                            "example": "age16"
                                                        },
                                                        "start_year": {
                                                            "description": "Старт",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "end_year": {
                                                            "description": "Конец",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "serial": {
                                                            "description": "Сериал",
                                                            "type": "integer",
                                                            "example": "0"
                                                        },
                                                        "completed": {
                                                            "description": "Окончен или нет (для сериалов)",
                                                            "type": "integer",
                                                            "example": "0"
                                                        },
                                                        "created_at": {
                                                            "description": "Время создания",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "premiere_ru": {
                                                            "description": "Время премьеры в РФ",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "release_date": {
                                                            "description": "Время цифрового релиза",
                                                            "type": "integer",
                                                            "example": "1691150253"
                                                        },
                                                        "rating_imdb": {
                                                            "description": "Рейтинг IMDB",
                                                            "type": "number",
                                                            "format": "float",
                                                            "example": "8.2"
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/favorites/{id}": {
            "delete": {
                "tags": [
                    "Favorites"
                ],
                "summary": "Удалить из избранного кино",
                "description": "Данный эндпоинт удаляет кино из избранного у текущего пользователя",
                "operationId": "delete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID избранного",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "properties": {
                                                "error": {
                                                    "description": "Булево обозначение ошибки",
                                                    "type": "boolean",
                                                    "example": "false"
                                                },
                                                "message": {
                                                    "description": "Текст сообщения ошибки на стороне сервера",
                                                    "type": "boolean",
                                                    "example": "true"
                                                },
                                                "status": {
                                                    "description": "Код ошибки",
                                                    "type": "integer",
                                                    "example": "200"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Пустой или неправильный токен",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Запрещено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/person-cinema": {
            "get": {
                "tags": [
                    "PersonCinema"
                ],
                "summary": "Получить список ролей в кино персоны",
                "description": "Данный эндпоинт возвращает список ролей персоны в кино со всеми данными",
                "operationId": "getListPersonCinema",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы для пагинации",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество запрашиваемых данных",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Название атрибута по которому нужна сортировка пример: id или -id",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "-id"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID просмотра",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cinema_id",
                        "in": "query",
                        "description": "ID кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/person-cinema/{id}": {
            "get": {
                "tags": [
                    "PersonCinema"
                ],
                "summary": "Получить данные о роли персоне в кино",
                "description": "Данный эндпоинт возвращает данные о роли персоны в кино",
                "operationId": "getPersonCinema",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID персоны",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/person-cinema/best/{id}": {
            "get": {
                "tags": [
                    "PersonCinema"
                ],
                "summary": "Получить 10 лучших фильмов с участием персоны",
                "description": "Данный эндпоинт возвращает данные о 10 лучших фильмов с участием персоны",
                "operationId": "getPersonBestCinema",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID персоны",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "404": {
                        "description": "Не найдено",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/product": {
            "get": {
                "tags": [
                    "Product"
                ],
                "summary": "Получить список товаров кино",
                "description": "Данный эндпоинт возвращает список товаров для кино",
                "operationId": "getListProduct",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Номер страницы для пагинации",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "1"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество запрашиваемых данных",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": "20"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Название атрибута по которому нужна сортировка пример: id или -id",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "-id"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID просмотра",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cinema_id",
                        "in": "query",
                        "description": "ID кино",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Запрос выполнен успешно",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "406": {
                        "description": "Ошибка валидации",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateForm"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Ошибка на стороне сервера",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                }
            }
        },
[...]
